<h1>NEW STOCK</h1>

<form action="/stocks" method="post">

  <label for="name"><p>Name:</p></label>
  <input type="text" name="name" value="" required>

  <label for="amount"><p>Stock Left:</p></label>
  <input type="text" name="amount" value="" required>

  <label for="price"><p>Price:</p></label>
  <input type="text" name="price" value="" required>

  <label for="image"><p>Image Source:</p></label>
  <input type="text" name="image" value="" required>

  <label for="type"><p>Select Type:</p></label>
  <select name="type">
    <% for type in Types.all %>
    <option value="<%= type %>"><%= type %></option>
    <% end %>
  </select>



  <input class="btn btn--action" type='submit' value="Create">
</form>
