<h1>NEW RENTAL</h1>

<form  action="/rentals" method="post">
  <label>
  <p>Customer: </p>
  <select name="customer_id">
    <% for customer in @customers %>
    <option value="<%= customer.id %>"><%= customer.name %></option>
    <% end %>
  </select>
  </label>


  <label>
  <p>Stock: </p>
  <!-- SOMETHING HERE IS BREAKING CODE - function CHECK OUT OF STOCK -->
  <select name="stock_id">
    <% for stock in @stocks %>
      <% if(stock.check_out_stock) %>
    <option value="<%= stock.id %>"><%= stock.name %></option>
      <% end%>
    <% end %>
  </select>
  </label>

  <input class="btn btn--action" type='submit' value="Create">
</form>
