<h1>CUSTOMERS</h1>
<a class="new-button" href="/customers/new"><p>NEW CUSTOMER</p></a>
<a class="new-button" href="/customers/Jim/search"><p>SEARCH JIM</p></a>

  <div class= "search-area">
   <form style="height: 100%;"action="/customers/search" method="POST">
   <input class="search-input" type="text" name = "input" placeholder="Search">
   <i class="fa fa-search"></i>
  </form>
  </div>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Age</th>
  </tr>
  <% for customer in @customers %>
  <tr>
    <td> <a href="/customers/<%= customer.id %>" > <%= customer.name %> </a></td>
    <td>|</td>
    <td><%= customer.age %></td>
  </tr>
  <% end %>
</table>
