<h1>CUSTOMERS</h1>
<a class="new-button" href="/customers/new"><p>NEW CUSTOMER</p></a>

  <div class= "search-area">
   <form style="height: 100%;"action="/customers/search" method="POST">
   <input class="search-input" type="text" name = "input" placeholder="Search">
   <i class="fa fa-search"></i>
  </form>
  </div>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>View</th>
  </tr>
  <% for customer in @customers %>
  <tr>
    <td> <%= customer.name %> </td>
    <td><%= customer.age %></td>
    <td><a class="new-button" href="/customers/<%= customer.id %>"><p>VIEW</p></a></td>
  </tr>
  <% end %>
</table>
