<h1>NEW CUSTOMER</h1>
<div class="new-container">


<form  action="/customers" method="post">
  <label for="name"><p>Name:</p></label>
  <input type="text" name="name" value="" required>
  <label for="age"><p>Age:</p></label>
  <input type="number" name="age" value="" required>
  <input class="btn btn--action" type='submit' value="Create">
</form>

</div>
